
.inter-font{

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* --- Button Styling --- */
.btn-primary{

    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}

.btn-secondary{

    background-color: transparent;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto;
    background-color: white;
    width: 85%;
    max-width: 1600px;
}


.navbar .nav-links{

    display: flex;
    list-style-type: none;
    gap: 32px;

}

.navbar .nav-links a{

    text-decoration: none;
    color: black;
    font-size: 16px;
    
}

.hero-section {

    min-height: 674px; 
    width: 1600px;
    margin: 0 auto;
    background-image:url(../assets/hero-bg.png);

}

.hero-section .hero-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;

}

.hero-badge{

    margin-top: 115px;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    background-color: white;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
}

.hero-title {

    margin-top: 16PX;
    font-size: 72PX;
    font-weight: bold;
    line-height: 84px;
    color: white;
    opacity: 90%;
    max-width: 770px;
    text-align: center;

}

.highlight-green {

    color: #30B868;

}

.hero-subtitle{

    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 16px;

}

.hero-buttons{

    margin-top: 32px;
    display: flex;
    gap: 16px;

}

.note{

    padding: 60px;

}

.note .note-structure{

    width: 85%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 0 120px;

}

.note-title h3{

    font-size: 48px;
    font-weight: bold;
    color: #001931;

}

.note-title p{

    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;

}

.note-structure .note-info{

    padding-top: 44px;
    display: flex;
    justify-content:space-around;
    gap: 24px;

}

.note-info .note-card{
    background: #ffffff;
    gap: 24px;
    max-width: 322px;
    max-height: auto;
    padding: 69.5px 24px;
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #f3f4f6;
    box-shadow: 0 6px 50px 0 #00000011;
}

.note-card img{
    width: 27px;
    height: auto;
}

.note-card .icon-bg{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F95555; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-card h4{
    /* margin-top: 16px; */
    font-size: 24px;
    font-weight: 600;


}

.note-card p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

}

.solution-section{

    margin-top: 120px;
}

.solution-container {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1600px;
    margin: 0 auto;
}

.solution-visual{
    width: 600px;
    height: 600px;
    padding-left: 160px;
    align-items: center;
    
}
.solution-text{
    padding-left: 160px;
    
}
.label-green{
    color: #30B868;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}
.solution-text h3{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.solution-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
}

.check-list li{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
    color: #001931;
    font-weight: 500;
    font-size: 16px;

}
.check-img {
    width: 16.25px; 
    height: 16.25px;
}


.early-access{
    
    display: flex;
    justify-content: center;

}
.early-access-sectio{

    margin-top: 120px;
    margin-bottom: 120px;
    background-color: #f9f8f4; 
    width: 67%;
    max-width: 1600px; 
    padding: 80px 40px;
    border-radius: 12px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.early-access-sectio h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}

.early-access-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.early-access-note{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
}

.main-footer {
    background-color: #001529;
    color: #ffffff;
    padding: 120px 120px 30px 120px;
    max-width: 1600px;
    margin: 0 auto;
}

.footer-top{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 110px;
}

.social-links-container {
    text-align: right;
}
.social-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.social-icons {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.copyright-text {
    font-size: 16px; 
    color: #fafafa;
    text-align: center;
}