
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Button Styling --- */
.btn-primary{
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
    background-color: white;
    max-width: 1600px;
}

.navbar .nav-links{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.navbar .nav-links a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}